body {
    background-color: rgb(88, 136, 100);
    font-family: Arial, Helvetica, sans-serif;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    h1 {text-align: center;}
    h1 {
        color: azure;
    }

    h3 {text-align: center;}
    h3 {
        color: azure;
    }

    h2 {text-align: left;}
    h2 {
        background-color: azure;
        color: rgb(48, 48, 48);
        width: 55%;
    }